* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
}

img {
    height: 100%;
    width: 100%;


}

h1 {
   font-size: 50px;
   font-family:: sans-serif;
   padding: 20px;
}

h2 {
    font-size: 30px;
    font-family:: sans-serif;
    padding: 20px;
 }

p {
    font-size: 20px;
    padding: 20px;
    font-family: sans-serif;
}

h4 {
   font-size: 18px;
   color: #7289da;
}

h5 {
    font-size: 18px;
    color: white;
}


button {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: white;
}

/*inizio menù*/
header {
    background-color:#255ee9;
    display: flex;
    justify-content: center;
    height: 80px;
}

.row{
    width: 1000px;
    height: 40px;
    background-color: #255ee9;
    margin-top: 10px;
    display: flex;
    /*flex-wrap: wrap; è  superfluo*/
    justify-content: space-between;
    
}

/*.debug [class^='col'] {
	border: 3px dashed black;
	padding: 5px 30px;
}*/

nav {
    margin-top: 5px;
    flex-direction: row;
}


.link> ul {
    color: white;
    display: flex;

    
}

a {
   text-decoration: none;
   color: white;
}

.link_item  {
    display: block;
    padding: 0 20px;
    line-height: 34px;
}

/*inizio prima sezione: un elemento centrato*/

.section-1{
    background-color: #255ee9;
    background-image: url("../img/jumbo.png");
    height: 600px;
    display:contents;
    display: flex;
    justify-content: center;
    background-size: cover;
    
}




.box-1 {
    align-items: center;
    width: 800px ;
    height: 400px;
    margin-top: 50px;
    padding-top: 150px;
    text-align: center;
}

.first_title ,.first_p {
    color: white;
}

.button_black{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: rgb(39, 36, 36);
    background-color: rgb(39, 36, 36);
    color: white;
    font-size: 20px;
}

.button_white{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: white;
    background-color: white;
    color: black;
    font-size: 20px;
}




/*inizio seconda sezione: due elementi affiancati*/

.section-2{
    background-color:white;
    display: flex;
    justify-content: center;
    height: 550px;    
}

.box-2 {
    align-items: center;
    width: 700px ;
    height: 450px;
    margin-top: 50px;
}
.box-3 {;
    align-items: center;
    width: 400px ;
    height: 450px;
    margin-top: 50px;
    padding: 10px;

}

/*inizio terza sezione: due elementi affiancati*/
.section-3{
    background-color:rgba(224, 221, 221, 0.753);
    display: flex;
    justify-content: center;
    height: 550px;
}

.box-4 {
    align-items: center;
    width: 400px ;
    height: 450px;
    margin-top: 50px;
}

.box-5 {
    align-items: center;
    width: 700px ;
    height: 450px;
    margin-top: 50px;
}

/*inizio quarta sezione: elemento centrale*/
.section-4{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 1300px;
    padding: 50px;
}

.box-6 {
    align-items: center;
    width: 1110px ;
    height: 800px;
    margin-top: 50px;
    padding: 30px;
}

.box-6 img {
    margin-top: -40px;
}


.star {
    background-image: url("../img/stars.svg");
    width: 500px;
    height: 50px;
    background-size: contain;
    margin-left: 300px;
    text-align: center;
    
}

.button_purple{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #7289da;
    background-color: #7289da;
    color: white;
    font-size: 20px; 
    margin-left: 450px;
    margin-top: 90px;


}



/*inizio footer*/
.section-5{
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: center;
    height: 500px;
}

.first {
    align-items: center;
    justify-content: center;
    width: 400px ;
    height: 100px;
    margin-top: 50px;
    color: #7289da;
    margin-left: 100px;

}

.first img {
    width: 30px;
    height: 20px;

}

.ita {
    color: white;
}



.section-5 [class^='box'] {
    width: 250px ;
    height: 600px;
    margin-top: 50px;
    /*flex-direction: column; non worka*/
}

.section-5 span {
    padding: 10px;
}



/*parte finale footer*/

.container_footer{
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: center;
    padding: 20px;
    border-top: 1px  solid #7289da;
}
.row_footer{
    width: 1420px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    /*flex-wrap: wrap; è superfluo*/
    justify-content: space-between;
    
    
}
.row_footer [class^='col'] {
    width: 100px;
    height: 50px;
    margin-top: 30px;
    
}

.button_sub{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #7289da;
    background-color: #7289da;
    color: white;
    font-size: 15px; 


}

/*CSS per esercizio bonus, inserimento della wave*/

.wave {
    width: 100%;
    height: 100px;
    background-image: url("../img/wave.svg");
    background-size: cover;
    opacity: 0.10;
}

/*Fixato problema h2 in footer */

.h2_footer {
    margin-top: -30px;
}